/* td {
	border: 1px solid #aaa;
	padding: 4px;
} */

/* Stats */
/* #stats {
    width: 30%;
    height: 100%;
    vertical-align: top;
} */

.timeResult {
    cursor: pointer;
}

.timeResult:hover {
    color: red;
    cursor: pointer;
}

.timeResultBold {
    cursor: pointer;
	font-weight: bold;
}

.timeResultBold:hover {
    color: red;
    cursor: pointer;
}

/* #times {
    font-family: "Courier New", Courier, monospace;
	overflow: scroll;
	overflow-x: hidden;
	height: 95%;
} */
