.timeResult {
    cursor: pointer;
}

.timeResult:hover {
    color: red;
    cursor: pointer;
}

.timeResultBold {
    cursor: pointer;
	font-weight: bold;
}

.timeResultBold:hover {
    color: red;
    cursor: pointer;
}
