td.case {
    cursor: pointer;
    text-align: center;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

td.groupHeader {
    cursor: pointer;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
    border-bottom: 2px solid;
}

td {border: 1px solid #000;}
